
.navbar{
    background-color: var(--background-2);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    z-index: 98;
}
.navbar span{
    opacity: 0.8;
}
.navbar nav,
.navbar ul,
.navbar .action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    List-style-type: none;
}
.navbar h5,
.navbar .action{
    width: 300px;
}
.navbar .action{
    justify-content: flex-end;
    gap: 20px;
}

.navbar button{
    min-width: 80px;
    height: 34px;
    border-radius: 10px;
    padding: 0px 12px;
    background-color: #ffffff90;
    border: none;
    color: var(--background);
    cursor: pointer;
    transition: 0.15s ease;
}
.navbar button.special{
    opacity: 1;
    border-radius: 17px;
    background: transparent;
    border: 1px solid var(--gray);
    color: var(--white);
    box-shadow: none;
}